.container-1 div, .big-container div{

    border: 1px solid white;

}
.container-1{
    display: flex;
    flex-direction: row;
    background-color: blue;

}
.box{
    flex-basis: 25%;

    height: 100px;
}
.big-container{

    display: flex;
    flex-direction: row;
    height:400px;
    width:1365px;

}
.red{
    display: flex;
    flex-direction: column;
    height:400px;
    width:265px;
    overflow: auto;


}
.red-box{
    background: red;
    height:150px;
    width:240px;
    flex-shrink: 0;
}

.blue-yellow{
    display:flex;
    flex-direction: column;
}
.blue{
    width:540px;

    display: flex;
    overflow: auto;

}
.boxblue{
    width:177px;
    height:150px;
    background-color: blueviolet;
    flex-shrink: 0;
}
.yellow{
    display:flex;
    overflow: auto;
    width:540px;
}
.boxyellow {
    background-color: yellow;
    height: 240px;
    width: 266px;
    flex-shrink: 0;
}
.aquamarine{
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    width:540px;
    height:400px;
    flex-shrink: 0;
    overflow: auto;
}
.aquamarine-row{
    display: flex;
    width: 519px;
    height:132px;
    flex-shrink: 0;
    overflow: auto;


}
.aquamarine-box{
    background: aqua;
    width:270px;
    flex-shrink: 0;
}

