.big-container div{

}
.big-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contside{
    display: flex;
    flex-direction: row;

}
.b2{
    background-color: yellowgreen;
    width:450px;
    height: 250px;
}
.b3{
    background-color: blueviolet;
    width:350px;
    height: 250px;
}

.twins{
    display: flex;
    flex-direction: row;
}
.b6{
        background-color: orange;
    height: 150px;
    }
.b7{
    background-color: orange;
    height: 150px;
}
.header{
    background-color: deepskyblue;
    height: 80px;
}
.footer{
    background-color: blue;
    height: 80px;
}
.b1{
    width:300px;
}